$color_1: #fafafa;
$color_2: #e9af0e;
$font-family_1: "Righteous", cursive;
$font-family_2: "Recursive", sans-serif;
$font-family_3: "Anton", sans-serif;
$font-family_4: "Ubuntu", sans-serif;
$background-color_1: black;

* {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  background-color: $background-color_1;
}
nav {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
}
.navbar {
  background-color: $background-color_1 !important;
}
.container-fluid {
  header {
    nav {
      ul {
        li {
          a {
            color: $color_1 !important;
            &:hover {
              color: $color_2 !important;
            }
          }
        }
      }
    }
  }
}
.navbar-brand {
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
}
body {
  background-color: $background-color_1;
}
section {
  padding: 10px;
}
a {
  text-decoration: none;
  color: $color_1;
}
li {
  font-size: x-large;
  color: $color_1;
  font-family: $font-family_1;
  display: contents;
  flex-direction: row;
}

.contenido {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
}
.sucursales {
  color: $color_1;
  display: flex;
  justify-content: center;
  align-content: center;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.iframeMaps {
  size-adjust: 100px 100px;
}
.footer__newsletter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "footerLogo texto1" "footerLogo texto2" "footerLogo iconosRedes";
}
.footer__text {
  display: flex;
  color: $color_1;
  font-family: $font-family_2;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.legalFooter {
  color: $color_1;
  font-family: $font-family_2;
  text-align: center;
  margin-bottom: 15px;
}
.footerLogo {
  width: 300px;
  height: 300px;
}
.footer__logoFooter {
  display: flex;
  justify-content: center;
  align-content: center;
}
.footer__redesSociales {
  display: flex;
}
.iconosRedes {
  display: flex;
  justify-items: flex-end;
  align-items: center;
}
.iconoRed {
  margin: 50px;
  width: 50px;
  display: flex;
  align-content: center;
  &:hover {
    transform: scale(1.2)
  }
}

.historia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  color: $color_1;
  font-family: $font-family_2;
  text-align: justify;
}
.imagenHistoria {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.textoHistoria {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.historiaTitulo {
  text-align: center;
  color: $color_1;
  font-family: $font-family_3;
}
.menuCarta {
  color: $color_1;
  font-family: $font-family_3;
}
.promociones {
  color: $color_1;
  display: contents;
  flex-direction: row;
}
.descripcionCupon {
  font-family: $font-family_3;
}
.fotoCupon {
  width: 400px;
  height: 400px;
}
.news {
  color: $color_1;
  font-family: $font-family_3;
}
.contacto {
  color: $color_1;
  font-family: $font-family_4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.imagenContacto {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .footer__newsletter {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    text-align: justify;
    grid-template-areas: "a b" "c d";
  }
  .footer__logoFooter {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .footer__redesSociales {
    display: flex;
    justify-content: center;
    align-items: end;
    grid-column-start: c;
    grid-column-end: d;
    grid-area: c, d;
    align-self: center;
  }
  .footerLogo {
    width: 300px;
    height: 300px;
  }
  .historia {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .contenido {
    grid-template-columns: repeat(1, 1fr);
  }
  .sucursales {
    .descripcionLocales {
      display: block;
      align-items: center;
      align-content: center;
      text-align: center;
    }
  }
  .form-select {
    margin: 20px;
  }
  .footer__newsletter {
    display: block;
  }
  .footer__logoFooter {
    display: none;
  }
  .footer__redesSociales {
    align-content: center;
    justify-content: center;
  }
  .contacto {
    display: block;
  }
  .imagenContacto {
    margin-top: 25px;
  }
}
@media screen and (max-width: 576px) {
  .contenido {
    grid-template-columns: repeat(1, 1fr);
  }
  .sucursales {
    .descripcionLocales {
      display: block;
      align-items: center;
      align-content: center;
      text-align: center;
    }
  }
  .form-select {
    margin: 20px;
  }
  .iframeMaps {
    row {
      display: block;
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      height: 0;
    }
  }
  .maps {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  .footer {
    .footer__newsletter {
      display: block;
      .footer__logoFooter {
        display: none;
      }
    }
  }
  .contacto {
    display: block;
  }
  .imagenContacto {
    margin-top: 25px;
  }
}
