/* Generales */

* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: black;
}

/* NAVBAR */

nav {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
}

.navbar {
  background-color: black !important;
}

#navbarNav {
  width: 100%;
  justify-content: space-evenly;
}

.container-fluid header nav ul li a {
  color: #fafafa !important;
}

.container-fluid header nav ul li a:hover {
  color: #e9af0e !important;
}

.navbar-brand {
  width: 180px;
  height: 180px;
  align-items: center;
  justify-content: center;
}

body {
  background-color: black;
}

a {
  text-decoration: none;
  color: #fafafa;
}

h2 {
  text-align: center;
}

li {
  font-size: x-large;
  color: #fafafa;
  font-family: "Righteous", cursive;
  display: contents;
  flex-direction: row;
}

h2 {
  color: #fafafa;
  font-family: "Righteous", cursive;
  font-size: xx-large;
}

/* Body */
.contenido {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
}

.sucursales {
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-content: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.iframeMaps {
  size-adjust: 100px 100px;
}

/* footer */

.footer__newsletter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
    "footerLogo texto1"
    "footerLogo texto2"
    "footerLogo iconosRedes";
}

.footer__text {
  display: flex;
  color: #fafafa;
  font-family: "Recursive", sans-serif;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.legalFooter {
  color: #fafafa;
  font-family: "Recursive", sans-serif;
  text-align: center;
  margin-bottom: 15px;
}

.footerLogo {
  width: 300px;
  height: 300px;
}

.footer__logoFooter {
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer__redesSociales {
  display: flex;
}

.iconosRedes {
  display: flex;
  justify-items: flex-end;
  align-items: center;
}

.iconoRed {
  margin: 50px;
  width: 50px;
  display: flex;
  align-content: center;
}

.iconoRed:hover {
  transform: scale(1.2);
}

/* NOSOTROS */

.historia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  color: #fafafa;
  font-family: "Recursive", sans-serif;
  text-align: justify;
}

.imagenHistoria1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.imagenHistoria2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.imagenHistoria3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.textoHistoria1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.textoHistoria2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.textoHistoria3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.historiaTitulo {
  text-align: center;
  color: #fafafa;
  font-family: "Anton", sans-serif;
}

/* MENU */

.menuCarta {
  display: inline-block;
  color: #fafafa;
  font-family: "Anton", sans-serif;
}

.menuCarta .seleccionador {
  color: #fafafa;
  font-family: "Recursive", sans-serif;
  overflow: hidden;
  display: block;
  color: #fafafa;
  text-align: center;
  padding: 14px 16px;
}

.menuCarta .seleccionador ul span {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  justify-content: space-between;
}

.menuCarta .seleccionador ul span a:hover {
  color: #e9af0e;
}

.categoriaProducto {
  margin: 50px;
}

.contenedorHambuguesas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.contenedorEnsaladas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contenedorAcompañamientos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.producto {
  margin: 20px;
}

.producto .fotoProducto {
  display: flex;
  justify-content: center;
}

.producto .fotoProducto:hover {
  display: flex;
  justify-content: center;
  transform: scale(1.2);
}

.detalleProducto .nombreProducto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.descripcionProducto {
  width: 100%;
  margin: 0 auto;
  padding: auto;
  text-align: center;
  font-family: "Sanchez", serif;
}

.buttonUp {
  position: fixed;
  width: 75px;
  height: 75px;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}

/* PROMOCIONES */

.promociones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  color: #fafafa;
  font-family: "Anton", sans-serif;
  text-align: justify;
  margin: auto;
  grid-template-areas:
    "fotoCupon1 cupon1"
    "fotoCupon2 cupon2";
}

.fotoCupon1 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.cupon1 {
  display: block;
  text-align: center;
  margin: auto;
}

.fotoCupon2 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.cupon2 {
  display: block;
  text-align: center;
  margin: auto;
}

.descripcionPromocion {
  font-family: "Sanchez", serif;
}

/* NOVEDADES */

.news {
  width: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.tituloNovedades {
  display: block;
  max-width: 750px;
  margin: auto;
}

.news h1 {
  display: block;
  font-family: "Russo One", sans-serif;
  color: #fafafa;
  margin: 100px;
  text-align: center;
}

.contendedorNovedades {
  width: 100%;
  max-width: 1100px;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 0;
  right: 0;
}

.novedad {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  border-top: 1px solid #5b5b5b;
  padding: 20px 0 15px;
}

.fotoNew {
  width: 400px;
  height: 250px;
  display: inline-block;
  vertical-align: top;
}

.new_descripcion {
  display: inline-block;
  width: auto;
  height: auto;
  vertical-align: top;
  padding: 0 0 0 30px;
}

.new_titulo {
  font-family: "Kosugi Maru", sans-serif;
  font-size: 32px;
  width: 405px;
  height: auto;
  text-align: left;
  color: #fafafa;
  display: inline-block;
}

.new_bajada {
  font-family: "Kosugi Maru", sans-serif;
  font-size: 15px;
  width: 450px;
  height: auto;
  text-align: left;
  color: #a4a4a4;
  margin: 10px 0 15px;
}

/* CONTACTO */

.contacto {
  color: #fafafa;
  font-family: "Ubuntu", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.formulario{
  margin: 25px;
}

.imagenContacto {
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
}

.button .btn .btn-primary {
  background: #e9af0e !important;
}

/* Responsive Breakpoints = Bootstrap*/

/* Large */

@media screen and (max-width: 992px) {
  .footer__newsletter {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    text-align: justify;
    grid-template-areas:
      "a b"
      "c d";
  }

  .footer__logoFooter {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .footer__redesSociales {
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .footerLogo {
    width: 300px;
    height: 300px;
  }

  .footer__redesSociales {
    grid-column-start: c;
    grid-column-end: d;
    grid-area: c, d;
    align-self: center;
  }

  .historia {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }
  .textoHistoria1 {
    order: 1;
  }
  .imagenHistoria1 {
    order: 2;
  }
  .textoHistoria2 {
    order: 3;
  }
  .imagenHistoria2 {
    order: 4;
    max-width: 100%;
    object-fit: cover;
  }
  .textoHistoria3 {
    order: 5;
  }
  .imagenHistoria3 {
    order: 6;
  }

  .novedad {
    display: block;
    text-align: center;
  }

  .fotoNew {
    margin: 25px;
  }

  .new_descripcion {
    width: auto;
    justify-content: center;
  }

  .new_titulo {
    width: auto;
  }

  .new_bajada {
    width: auto;
  }

  .contacto {
    display: block;
  }

  .imagenContacto {
    display: block;
    text-align: center;
  }
}

/* Medium */

@media screen and (max-width: 768px) {
  .contenido {
    grid-template-columns: repeat(1, 1fr);
  }

  .sucursales .descripcionLocales {
    display: block;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  .form-select {
    margin: 20px;
  }

  .footer__newsletter {
    display: block;
  }

  .footer__logoFooter {
    display: none;
  }

  .footer__redesSociales {
    align-content: center;
    justify-content: center;
  }

  .contacto {
    display: block;
  }

  .promociones {
    display: block;
  }

  .fotoCupon1 {
    margin: 25px;
  }

  .cupon1 {
    margin: 25px;
  }
  .fotoCupon2 {
    margin: 25px;
  }

  .cupon2 {
    margin: 25px;
  }

  .news {
    display: block;
  }

  .fotoNew {
    margin: 25px;
  }

  .descripcionNew {
    margin: 25px;
  }

  .producto {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .footer {
    margin-top: 50px;
  }
}

/*Small */

@media screen and (max-width: 576px) {
  .contenido {
    grid-template-columns: repeat(1, 1fr);
  }

  .sucursales .descripcionLocales {
    display: block;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  .form-select {
    margin: 20px;
  }

  .iframeMaps row {
    display: block;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }

  .maps {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .footer {
    margin-top: 50px;
  }

  .footer .footer__newsletter {
    display: block;
  }

  .footer .footer__newsletter .footer__logoFooter {
    display: none;
  }

  .contacto {
    display: block;
  }

  .imagenContacto {
    display: block;
    margin: 20px auto;
  }

  .producto {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .contenedorHambuguesas {
    display: block;
  }
  .contenedorEnsaladas {
    display: block;
  }

  .contenedorAcompañamientos {
    display: block;
  }
}
